*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	
	display: flex;
	/* align-items: center; */
	justify-content: center;
	background-color: rgb(255, 255, 255);
}

.about-section{
	background: url('/img/bg1.jpg') no-repeat left;
	background-size: 58%;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	padding: 105px 0;
	margin-left: 3rem;
	margin-right: 3rem;
	
}

.inner-container{
	width:55%;
	float: right;
	background-color: rgb(208, 221, 202);
	padding: 105px;
	border-radius: 0px 20px 20px 0px ;
	text-align: left;
}

.inner-container h1{
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 650;
	text-align: left;
	
}
.text{
	font-size: 13px;
	color: black;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 40px;
}
.skills{
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	font-size: 14px;
	margin-top: 3rem;
}