.navbar-brand{
    color: rgb(77, 122, 73) !important;
    /* background: black; */
    font-size: 28px;
    /* margin-top: %; */
}
.nav-link{
    font-size: 18px;
    color: rgb(37, 54, 10);
    display: inline-block;
}
.nav-link:hover{
    color: rgb(37, 134, 45);
    transition: 0.3s;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: rgb(65, 97, 65);
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    //transition: width .3s;
}

.navbar{
    background-color: #b7c8a2;
    position: sticky;
}

.btn{
    color: aliceblue;
    border-color: aliceblue;
    width: 5.7%;
    border-radius: 3%;
    
}

.btn:hover{
    background: rgba(69, 94, 29, 0.523);
    border-color: rgb(69, 94, 29, 0.523);
    opacity: 0.9;
    
    /* color: ; */
}

